{{ partial "header.html" . }}

<div id="{{ .UniqueID }}">
  <header class="header">
    <nav class="nav">
      {{ partial "nav.html" . }}
    </nav>
  </header>

  <main class="content" role="main">

    <article class="article">
      <div class="article-content">
        {{ .Content }}
      </div>

      <div id="scene-elements"></div>
      <div id="master-video-player">
          <div id="master-video-player-inner">
            <div class="master-controls video-controls">
              <div class="close"></div>
            </div>
            <div id="playlist">
              <div id="prev" val="-1"></div>
              <div id="next" val="1"></div>
            </div>
          </div>
        </div>


    </article>

  </main>

  {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}