html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  background-color: rgba(255,255,255,0) !important;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: 'Fredoka One';
  font-size: 2em;
  color: COLOR_BLACK_DARK;
}
body p {
  margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fredoka One';
  letter-spacing: 3px;
  color: #111;
  font-weight: light;
}
h1.headline-style-1,
h2.headline-style-1,
h3.headline-style-1,
h4.headline-style-1,
h5.headline-style-1 {
  color: #fff;
  text-shadow: 3px 3px 0px #000;
}
footer {
  text-align: center;
}
footer ul {
  width: 100% !important;
}
header,
nav.nav,
footer {
  font-family: 'Geo';
  font-size: font-size-menu;
  color: #fff;
  text-transform: uppercase;
}
header a:hover,
nav.nav a:hover,
footer a:hover {
  color: #aaa;
}
header h1,
nav.nav h1,
footer h1,
header h2,
nav.nav h2,
footer h2,
header h3,
nav.nav h3,
footer h3,
header h4,
nav.nav h4,
footer h4,
header h5,
nav.nav h5,
footer h5,
header h6,
nav.nav h6,
footer h6,
header a,
nav.nav a,
footer a {
  font-weight: 100;
  font-family: 'Geo';
  vertical-align: middle;
  color: #fff;
  letter-spacing: 0px;
}
.scene-element .text {
  font-size: 1.2em;
  color: COLOR_BLACK_DARK;
}
@media screen and (min-width: 800px) {
  .scene-element .text {
    font-size: 2em;
  }
}
.scene-element.scene_element--title .text {
  color: #ffa500;
  text-shadow: 3px 3px 0px #333;
}
.scene-element:hover .text {
  color: #aaa;
  text-shadow: none;
}
#credits .nav {
  font-size: 0.7em;
}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background 1s;
  background-color: #00f;
}
body.video-player-active {
  background-color: #0000b3;
}
body#credits,
body#fullscreen-launch,
body#fullscreen-launch-1,
body#fullscreen-launch-2,
body#fullscreen-launch-3,
body#fullscreen-launch-4,
body#fullscreen-launch-5,
body#fullscreen-launch-6 {
  background-color: #ffa500;
}
body#credits {
  position: relative;
  overflow-y: visible;
  height: unset;
  display: block;
}
body#credits main {
  position: relative;
}
header {
  float: left;
}
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article-content {
  position: relative;
}
div {
  box-sizing: border-box;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
button {
  background: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
button > * {
  display: block;
  font-family: 'Geo';
  font-size: 2em;
  padding: 10px 40px;
  border-radius: 0;
  background: transparent;
  border: 1px solid #111;
}
button > *:hover {
  background-color: #aaa;
}
#grid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms;
}
#grid-wrapper.active {
  opacity: 0.3;
}
.grid-segment,
.grid-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  z-index: 1;
}
.grid-segment {
  z-index: -1;
  border: 1px solid #fff;
}
.segment-bg {
  display: none;
}
.segment-bg > span {
  margin: -5px 0 0 30px;
}
body.dev .segment-bg {
  display: unset;
}
body.dev #grid-wrapper.bg-active [zone="1"] {
  background-color: rgba(78,0,0,0.1);
}
body.dev #grid-wrapper.bg-active [zone="2"] {
  background-color: rgba(78,0,50,0.2);
}
body.dev #grid-wrapper.bg-active [zone="3"] {
  background-color: #640050;
}
#grid-svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  opacity: 0;
  transition: all 200ms;
  background-image: url("/images/GRID.svg");
  background-size: cover;
  background-position: center center;
}
#grid-svg svg * {
  transition: stroke 400ms;
  stroke-opacity: 0.7;
}
body#credits #grid-svg,
body#fullscreen-launch #grid-svg,
body#fullscreen-launch-1 #grid-svg,
body#fullscreen-launch-2 #grid-svg,
body#fullscreen-launch-3 #grid-svg,
body#fullscreen-launch-4 #grid-svg,
body#fullscreen-launch-5 #grid-svg,
body#fullscreen-launch-6 #grid-svg {
  display: none;
}
header {
  transition: all 600ms;
  position: relative;
}
body#credits header {
  display: none;
}
body.video-player-active header {
  opacity: 0;
}
header.header,
footer {
  position: relative;
  width: 100%;
  z-index: 999;
  background-color: #000;
  transition: all 300ms;
}
header.header nav,
footer nav {
  position: relative;
}
header.header nav *,
footer nav * {
  display: inline;
  box-sizing: border-box;
  font-size: 15px;
}
header.header nav > *,
footer nav > * {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 19px;
}
header.header nav > * > *,
footer nav > * > * {
  position: relative;
}
header.header nav #main-menu,
footer nav #main-menu {
  padding-left: 10px;
}
header.header nav #sub-menu,
footer nav #sub-menu {
  padding-right: 5px;
}
header.header nav h1#site-title,
footer nav h1#site-title {
  position: relative;
  font-style: italic;
  vertical-align: top;
  padding-right: 5px;
  top: 1px;
}
header.header nav h2#page-title,
footer nav h2#page-title {
  background: #000;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: -2px;
  padding-top: 1px;
  float: left;
  text-align: center;
  font-style: italic;
}
@media only screen and (min-width: 800px) {
  header.header nav h2#page-title,
  footer nav h2#page-title {
    padding-top: 0;
    position: relative;
    background-color: transparent;
  }
}
header.header nav ul,
footer nav ul {
  position: relative;
}
header.header nav ul#main-menu,
footer nav ul#main-menu {
  float: left;
}
header.header nav ul#main-menu li,
footer nav ul#main-menu li {
  position: relative;
}
header.header nav ul#sub-menu,
footer nav ul#sub-menu {
  position: relative;
  float: right;
  text-align: right;
}
@media only screen and (min-width: 600px) {
  header.header nav ul,
  footer nav ul {
    padding: 0 10px 0 15px;
  }
}
header.header nav ul li,
footer nav ul li {
  vertical-align: middle;
  padding: 0 4px;
}
header.header nav ul li.active-link > a,
footer nav ul li.active-link > a {
  text-decoration: underline;
}
@media only screen and (min-width: 800px) {
  header nav > * {
    width: 33% !important;
  }
}
#master-video-player {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 400ms;
  z-index: -2;
  display: none;
}
#master-video-player > div {
  position: fixed;
  width: 375px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.9);
}
@media screen and (min-width: 600px) {
  #master-video-player > div {
    width: 500px;
    height: 375px;
  }
}
@media screen and (min-width: 800px) {
  #master-video-player > div {
    width: 640px;
    height: 516px;
  }
}
#master-video-player.active {
  display: block;
  z-index: 2;
  opacity: 1;
}
#master-video-player iframe {
  width: 355px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 600px) {
  #master-video-player iframe {
    width: 580px;
    height: 375px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  #master-video-player iframe {
    width: 640px;
    height: 500px;
  }
}
.video-player {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 0;
  overflow: hidden;
  width: 510px;
  height: 290px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .video-player {
    height: 350px;
  }
}
@media screen and (min-width: 800px) {
  .video-player {
    height: 510px;
  }
}
.video-player iframe {
  opacity: 0;
  transition: opacity 700;
}
.video-player.active {
  z-index: 2;
}
.video-player.active iframe {
  opacity: 1;
  z-index: 1;
}
:-webkit-full-screen-ancestor iframe {
  transform: translate(0, 0) !important;
}
.video-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  opacity: 0;
  transition: all 200ms;
}
@media screen and (min-width: 800px) {
  .video-controls {
    right: 10px;
  }
}
.video-controls .close {
  margin: 5px;
  z-index: 3;
  position: absolute;
  right: 0;
  background-image: url("/images/icon-close.svg");
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
}
#master-video-player.hover #master-video-player-inner:hover .video-controls {
  opacity: 1;
}
#playlist {
  display: none;
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: -50px;
  left: 0;
  z-index: 1;
  opacity: 0;
  tranition: all 200ms;
}
#playlist > * {
  margin: 10px 5px;
  background-color: rgba(0,128,0,0.3);
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url("/images/chevron-right.svg") no-repeat center center/contain;
}
#playlist > *:hover {
  cursor: pointer;
}
#playlist > *:first-child {
  transform: rotate(180deg);
}
#playlist > *:last-child {
  float: right;
}
@media screen and (max-height: 600px) {
  #playlist {
    bottom: 10px;
  }
  #playlist > * {
    position: absolute;
  }
  #playlist > *:first-child {
    left: -50px;
  }
  #playlist > *:last-child {
    right: -50px;
  }
}
#scene-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 400ms;
  z-index: 1;
}
#scene-elements .scene-element {
  transform-origin: top left;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  opacity: 0;
}
#scene-elements .scene-element.se-visible {
  opacity: 1;
}
#scene-elements .scene-element.image {
  border: 1px solid #000;
}
#scene-elements .scene-element .overlay-gif {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 200ms;
}
#scene-elements .scene-element.text.scene_element--name {
  text-transform: uppercase;
}
#scene-elements .scene-element:hover .overlay-gif {
  opacity: 1;
}
#scene-elements .scene-element.fadeOut {
  opacity: 0;
}
body.video-player-active #scene-elements {
  opacity: 0;
  z-index: -1;
}
#placement-dev-wrapper {
  position: relative;
  z-index: -1;
  opacity: 0;
}
#placement-dev-wrapper .placement-dev-wrapper {
  position: fixed;
}
body.placement-dev-wrapper-active.grid-active #placement-dev-wrapper {
  opacity: 0.5;
}
.target-zone-label {
  display: none;
}
body.dev .target-zone-label {
  display: none;
  font: 14px Arial;
  font-weight: bold;
  color: #f00;
}
body.dev.grid-active.placement-dev-wrapper-active .target-zone-label {
  display: block;
}
.center-page {
  width: 100%;
  height: 600px;
  overflow: auto;
}
.center-page > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.info-page {
  margin: 0px 70px;
  margin-top: -20px;
  font-family: 'Geo';
  font-size: 0.7em;
  box-sizing: conent-box;
}
.info-page h1 {
  font-size: 5vw;
}
@media only screen and (min-width: 600px) {
  .info-page h1 {
    font-size: 2.5vw;
  }
}
#credits-page.info-page {
  position: relative;
}
.article-content {
  position: relative;
  width: 100%;
  max-height: 100%;
}
.article-content #fullscreen-launch-content {
  position: relative;
  width: 600px;
  margin: 0 auto;
  z-index: 1;
}
.article-content #fullscreen-launch-content .title {
  width: 450px;
  display: block;
  margin: 40px auto 0;
}
.article-content #fullscreen-launch-content .title img {
  width: 100%;
  height: auto;
}
.article-content #fullscreen-launch-content p {
  font-size: 1em;
  letter-spacing: 4px;
  color: #fff;
  font-weight: 0;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.article-content #fullscreen-launch-content .inner .rounded-logo,
.article-content #fullscreen-launch-content .inner .rounded-enter {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 100px;
  background-image: url("/images/chrarisma-logo-round.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.article-content #fullscreen-launch-content .inner .rounded-enter {
  background-image: url("/images/enter-rounded.svg");
}
.article-content #fullscreen-launch-content .inner .rounded-logo {
  width: 300px;
  background-size: 90%;
  background-position: center;
}
.article-content #fullscreen-launch-content .circle {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.article-content #fullscreen-launch-content .circle a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("/images/Augenkrebs.jpg");
  background-position-x: -11px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  .article-content #fullscreen-launch-content {
    width: 100%;
    height: 600px;
    position: absolute;
  }
  .article-content #fullscreen-launch-content .inner .title {
    width: 350px;
  }
}
#fullscreen-launch-1 .circle a {
  background-image: url("/images/title-color.jpg") !important;
}
#fullscreen-launch-2 .circle a {
  background-image: url("/images/charisma-e2-title-image.jpg") !important;
}
#fullscreen-launch-3 .circle a {
  background-image: url("/images/Charisma-salami.jpg") !important;
}
#fullscreen-launch-4 .circle a {
  background-image: url("/images/SEEK.jpg") !important;
}
#launchpage-scrolling-text {
  position: relative;
  width: 100%;
}
#launchpage-scrolling-text marquee {
  font-size: 0.9em;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
}
#launchpage-scrolling-text marquee:nth-child(2) {
  top: 100%;
  margin-top: -75px;
  width: 150%;
  margin-left: -150px;
}
@media only screen and (min-width: 800px) {
  #launchpage-scrolling-text marquee:nth-child(2) {
    width: 125%;
    margin-left: -250px;
  }
}
#launchpage-scrolling-text marquee:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
  width: 180%;
  margin-left: -150px;
}
@media only screen and (min-width: 800px) {
  #launchpage-scrolling-text marquee:nth-child(3) {
    width: 150%;
    margin-left: -350px;
  }
}
.center-page > div {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
#credits #prev-link,
#fullscreen-launch #prev-link,
#fullscreen-launch-1 #prev-link,
#fullscreen-launch-2 #prev-link,
#fullscreen-launch-3 #prev-link,
#fullscreen-launch-4 #prev-link,
#fullscreen-launch-5 #prev-link,
#fullscreen-launch-6 #prev-link {
  position: relative;
  z-index: 1;
  font-family: 'Geo';
  margin: 20px 30px 40px;
}
#credits header,
#fullscreen-launch header,
#fullscreen-launch-1 header,
#fullscreen-launch-2 header,
#fullscreen-launch-3 header,
#fullscreen-launch-4 header,
#fullscreen-launch-5 header,
#fullscreen-launch-6 header,
#credits footer,
#fullscreen-launch footer,
#fullscreen-launch-1 footer,
#fullscreen-launch-2 footer,
#fullscreen-launch-3 footer,
#fullscreen-launch-4 footer,
#fullscreen-launch-5 footer,
#fullscreen-launch-6 footer,
#credits #scene-elements,
#fullscreen-launch #scene-elements,
#fullscreen-launch-1 #scene-elements,
#fullscreen-launch-2 #scene-elements,
#fullscreen-launch-3 #scene-elements,
#fullscreen-launch-4 #scene-elements,
#fullscreen-launch-5 #scene-elements,
#fullscreen-launch-6 #scene-elements {
  display: none;
}
