body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background 1s;
  background-color: #faa53d;
}
body.video-player-active {
  background-color: #b3b3b3;
}
body.blue {
  background-color: #00f;
}
body.blue.video-player-active {
  background-color: #0000b3;
}
body#credits {
  position: relative;
  overflow-y: visible;
  height: unset;
  display: block;
}
body#credits main {
  position: relative;
}
header {
  float: left;
}
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article-content {
  position: relative;
}
div {
  box-sizing: border-box;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
button {
  background: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
button > * {
  display: block;
  font-family: 'Geo';
  font-size: 2em;
  padding: 10px 40px;
  border-radius: 0;
  background: transparent;
  border: 1px solid COLOR_DARK_BLACK;
}
button > *:hover {
  background-color: COLOR_GREY;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
body {
  font: 2em 'Fredoka One';
  color: COLOR_BLACK_DARK;
}
header,
.nav {
  font: 0.95em 'Geo';
  font-size: 0.95em;
  color: COLOR_BLACK_DARK;
}
header a:hover,
.nav a:hover {
  color: #aaa;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fredoka One';
  letter-spacing: 5px;
  color: #111;
  font-weight: light;
}
h1.headline-style-1,
h2.headline-style-1,
h3.headline-style-1,
h4.headline-style-1,
h5.headline-style-1 {
  color: #fff;
  text-shadow: 3px 3px 0px #000;
}
h1 {
  font-size: 1.2em;
}
.scene-element .text {
  font-size: 1.5em;
  color: COLOR_BLACK_DARK;
}
@media screen and (min-width: 800px) {
  .scene-element .text {
    font-size: 2em;
  }
}
.scene-element.scene_element--title .text {
  color: #ffa500;
  text-shadow: 3px 3px 0px #333;
}
.scene-element:hover .text {
  color: #aaa;
  text-shadow: none;
}
#credits .nav {
  font-size: 0.7em;
}
#scene-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 400ms;
}
#scene-elements .scene-element {
  transform-origin: top left;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 500ms;
  opacity: 0;
  transform: translate(0px, 0px);
}
#scene-elements .scene-element.se-visible {
  opacity: 1;
}
#scene-elements .scene-element.image {
  border: 1px solid #000;
}
#scene-elements .scene-element .overlay-gif {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 200ms;
}
#scene-elements .scene-element:hover .overlay-gif {
  opacity: 1;
}
#scene-elements .scene-element.fadeOut {
  opacity: 0;
}
body.video-player-active #scene-elements {
  opacity: 0;
}
#placement-dev-wrapper {
  position: relative;
  z-index: -1;
  opacity: 0;
}
#placement-dev-wrapper .placement-dev-wrapper {
  position: fixed;
}
body.placement-dev-wrapper-active.grid-active #placement-dev-wrapper {
  opacity: 0.5;
}
.target-zone-label {
  display: none;
}
body.dev .target-zone-label {
  display: none;
  font: 14px Arial;
  font-weight: bold;
  color: #f00;
}
body.dev.grid-active.placement-dev-wrapper-active .target-zone-label {
  display: block;
}
#grid-wrapper {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms;
}
#grid-wrapper.active {
  opacity: 0.3;
}
.grid-segment,
.grid-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #f00;
  z-index: 1;
}
.grid-segment {
  z-index: -1;
  border: 1px solid #f00;
}
.segment-bg {
  display: none;
}
.segment-bg > span {
  margin: -5px 0 0 30px;
}
body.dev .segment-bg {
  display: unset;
}
body.dev #grid-wrapper.bg-active [zone="1"] {
  background-color: rgba(78,0,0,0.1);
}
body.dev #grid-wrapper.bg-active [zone="2"] {
  background-color: rgba(78,0,50,0.2);
}
body.dev #grid-wrapper.bg-active [zone="3"] {
  background-color: #640050;
}
#grid-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: 200ms;
}
#grid-svg svg * {
  transition: stroke 400ms;
  stroke-opacity: 0.7;
}
#grid-svg.active {
  opacity: 1;
}
#grid-svg.active svg * {
  stroke: #fff;
}
nav {
  opacity: 1;
}
body.video-player-active nav {
  opacity: 0;
  transition: opacity 600ms;
}
nav.nav {
  display: inline;
}
nav.nav ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  position: relative;
  z-index: 1;
}
nav.nav ul li {
  display: inline;
  list-style: none;
}
nav.nav ul#ctrl-links {
  width: 20px;
  height: 20px;
  margin: 20px 10px 20px 20px;
}
nav.nav ul#ctrl-links > li {
  float: left;
  clear: both;
  height: 20px;
  display: block;
  margin-bottom: 20px;
}
nav.nav ul#ctrl-links form {
  display: inline;
  position: relative;
  float: left;
}
nav.nav ul#ctrl-links form > input,
nav.nav ul#ctrl-links form label {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
nav.nav ul#ctrl-links form label {
  border: 1px solid #fff;
}
nav.nav ul#ctrl-links form input[type=checkbox] {
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
nav.nav ul#ctrl-links form input[type=checkbox]:hover+label {
  background-color: #aaa;
}
nav.nav ul#ctrl-links form input[type=checkbox]:checked+label {
  background-color: #00f;
  border: 1px solid #111;
}
nav.nav ul#ctrl-links form > span {
  font-size: 0.5em;
  display: block;
  margin-left: 40px;
}
nav.nav ul#ctrl-links form > span:not(:first-child) {
  width: 200px;
}
#main-menu #credits-link {
  position: fixed;
  top: 10px;
  right: 20px;
}
nav.nav ul#main-menu {
  margin-top: 14px;
}
#credits #home-link {
  position: relative;
  padding: 20px 30px;
  z-index: 1;
}
#master-video-player {
  position: fixed;
  width: 415px;
  height: 305px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.9);
  opacity: 0;
  transition: opacity 400ms;
  z-index: -2;
}
@media screen and (min-width: 600px) {
  #master-video-player {
    margin: auto auto;
    position: relative;
    width: 100%;
    height: 375px;
  }
}
@media screen and (min-width: 800px) {
  #master-video-player {
    width: 640px;
    height: 520px;
  }
}
#master-video-player.active {
  z-index: 1;
  opacity: 1;
}
#master-video-player iframe {
  width: 355px;
  height: 305px;
  position: absolute;
  top: 0;
  left: 10px;
}
@media screen and (min-width: 600px) {
  #master-video-player iframe {
    position: relative;
    width: 600px;
    height: 350px;
    top: 10px;
    left: 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  #master-video-player iframe {
    width: 640px;
    height: 500px;
  }
}
.video-player {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}
.video-player iframe {
  opacity: 0;
  transition: opacity 700;
}
.video-player.active iframe {
  opacity: 1;
  z-index: 1;
}
.video-controls {
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 1;
  opacity: 0;
  transition: all 200ms;
}
@media screen and (min-width: 800px) {
  .video-controls {
    right: 10px;
  }
}
.video-controls .close {
  margin: 5px;
  z-index: 3;
  position: absolute;
  right: 0;
  background-image: url("/images/icon-close.svg");
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
}
.hover .video-controls {
  opacity: 1;
}
.center-page {
  width: 100%;
  height: 600px;
  overflow: auto;
}
.center-page > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.info-page {
  margin: 0px 70px;
  margin-top: -20px;
  font: 0.95em 'Geo';
  font-size: 0.7em;
  box-sizing: conent-box;
}
#credits-page.info-page {
  position: relative;
}
.article-content {
  position: relative;
  width: 100%;
  max-height: 100%;
}
.article-content #fullscreen-launch-content {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
.article-content #fullscreen-launch-content .title {
  width: 450px;
  display: block;
  margin: 40px auto 0;
}
.article-content #fullscreen-launch-content .title img {
  width: 100%;
  height: auto;
}
.article-content #fullscreen-launch-content h1 {
  font-size: 1em;
}
.article-content #fullscreen-launch-content .inner .rounded-logo,
.article-content #fullscreen-launch-content .inner .rounded-enter {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 100px;
  background-image: url("/images/chrarisma-logo-round.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.article-content #fullscreen-launch-content .inner .rounded-enter {
  background-image: url("/images/enter-rounded.svg");
}
.article-content #fullscreen-launch-content .inner .rounded-logo {
  width: 300px;
  background-size: 90%;
  background-position: center;
}
.article-content #fullscreen-launch-content .circle {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.article-content #fullscreen-launch-content .circle a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("/images/title-color.jpg");
  background-position-x: -11px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  .article-content #fullscreen-launch-content {
    width: 100%;
    height: 600px;
    position: absolute;
    overflow: hidden;
  }
  .article-content #fullscreen-launch-content .inner .title {
    width: 350px;
  }
}
#launchpage-scrolling-text {
  position: relative;
  width: 100%;
}
#launchpage-scrolling-text marquee {
  font-size: 0.9em;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
}
#launchpage-scrolling-text marquee:nth-child(2) {
  top: 100%;
  margin-top: -75px;
}
.center-page > div {
  width: 100%;
}
height: 600px {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
body {
  display: inherit;
}
