html,
body
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height : 100%;
  overflow: hidden;
  transition: background 1s;
  &.video-player-active
    background-color darken(white, 30%)
  &.blue
    background-color blue;
    &.video-player-active
      background-color darken(blue, 30%)

header
  float left

main
  position: absolute
  top 0
  left 0
  width 100%
  height 100%

.article-content
  position relative

div
  box-sizing border-box

ul, li
  margin 0
  padding 0


.hidden
  opacity 0
  width 0
  height 0
  position: absolute

button
  background transparent
  border-radius 0
  padding 0
  margin 0

button > *
  display: block
  font-family 'Geo'
  font-size 2em
  padding 10px 40px
  border-radius 0
  background transparent
  border 1px solid COLOR_DARK_BLACK
  &:hover
    background-color COLOR_GREY
