html,
body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height : 100%;
  overflow: hidden;
}


ul, li
  margin 0
  padding 0


.hidden
  opacity 0
  width 0
  height 0
  position: absolute

button
  background transparent
  border-radius 0
  padding 0
  margin 0

button > *
  display: block
  font-family 'Geo'
  font-size 2em
  padding 10px 40px
  border-radius 0
  background transparent
  border 1px solid COLOR_DARK_BLACK
  &:hover
    background-color COLOR_GREY
