font-family-menu = 'Geo';
font-family-main = 'Fredoka One';

font-size-menu = 0.95em
font-size-main = 2em

font-menu = font-size-menu font-family-menu
font-main = font-size-main font-family-main

a, a:link, a:visited
  color inherit
  text-decoration: none

body
  font font-main
  color COLOR_BLACK_DARK

header, .nav
  font font-menu
  font-size font-size-menu
  color COLOR_BLACK_DARK
  a:hover
    color COLOR_GREY

h1, h2, h3, h4, h5
  font-family font-family-main
  letter-spacing: 5px
  color COLOR_DARK_BLACK
  font-weight light
  &.headline-style-1
    color COLOR_WHITE
    text-shadow 3px 3px 0px rgba(black, 1);

h1
  font-size 1.2em

.scene-element
  .text
    font-size 1.5em
    color COLOR_BLACK_DARK
    @media screen and (min-width: 800px)
      font-size 2em
  &.scene_element--title .text
    color orange
    text-shadow 3px 3px 0px rgba(#333, 1);
  &:hover .text
    color #aaa
    text-shadow: none

#credits
  .nav
    font-size 0.7em
