#scene-elements
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  opacity 1
  transition all 800ms

body.video-player-active
  #scene-elements
    opacity 0

#placement-dev-wrapper
  position: relative
  z-index: -1
  opacity 0
  .placement-dev-wrapper
    position: fixed

body.placement-dev-wrapper-active.grid-active
  #placement-dev-wrapper
    opacity 0.5
