{{ partial "header.html" . }}

<header class="header home">
  <nav class="nav">

      <ul class="nav-links" id="grid-ctrl">
          <li id="grid-button" status="active">
            <form id="grid-check">
              <div>
                <input type="checkbox" name="grid-activate" value="1" id="gridIo">
                <label></label>
              </div>
              <div class="segment-bg">
                <input type="checkbox" name="grid-bg-activate" value="1">
                <label></label>
                <span>bg</span>
              </div>
            </form>
          </li>
        </ul>

    {{ partial "nav.html" . }}
  </nav>
</header>

<main class="content" role="main">

    <div id="scene-elements"></div>
    <div id="master-video-player"><div class="master-controls video-controls"><div class="close"></div></div></div>
    <!-- <div id="grid-wrapper"></div> -->

    <script src="/data/release_1_data.js"></script>
    <script src="/js/animation.js"></script>
    <script src="/js/grid.js"></script>
    <script src="/js/thumbnails.js"></script>
    <script src="/js/helper.js"></script>




</main>

{{ partial "footer.html" . }}
