{{ partial "header.html" . }}

<header class="header home">
  <nav class="nav">
    <ul class="nav-links" id="grid-ctrl">
        <li id="grid-button" status="active">
          <form id="grid-check">
            <input type="checkbox" name="grid-activate" value="1">
            <label></label>
          </form>
        </li>
      </ul>

    {{ partial "nav.html" . }}
  </nav>
</header>

<main class="content" role="main">

    <div id="scene-elements"></div>
    <div id="master-video-player"><div class="master-controls video-controls"><div class="close"></div></div></div>
    <!-- <div id="grid-wrapper"></div> -->

    <script src="/episode-test-2/episode-2-data.js"></script>
    <script src="/js/animation.js"></script>
    <script src="/js/grid.js"></script>
    <script src="/js/thumbnails.js"></script>

</main>

{{ partial "footer.html" . }}
