#grid-wrapper
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
  // &.dev
    // border 3px dotted #ccc;
.grid-segment,
.grid-side
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity 0
  transition opacity 100ms;
  &.grid-segment__border-active
    opacity 1
    &.orange
      border: 1px solid orange;


.segment-bg
  display: none
  > span
    margin -5px 0 0 30px

.dev
  .segment-bg
    display: unset
  #grid-wrapper
    [segment="1"]
      background-color #fff
    [segment="2"]
      background-color #dd
    [segment="3"]
      background-color #ccc

body
  display none !important