#grid-wrapper
  position: absolute;
  visibility: hidden
  top: 0;
  left: 0;
  z-index: -1
  opacity 0
  transition opacity 200ms
  &.active
    opacity 0.3
.grid-segment
.grid-side
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border 1px solid red
  z-index 1
.grid-segment
  z-index -1
  border 1px solid red

.segment-bg
  display: none
  > span
    margin -5px 0 0 30px;

body.dev
  .segment-bg
    display: unset
  #grid-wrapper.bg-active
    [zone="1"]
      background-color rgba(78, 0, 0, 0.1);
    [zone="2"]
      background-color rgba(78, 0, 50, 0.2);
    [zone="3"]
      background-color rgba(100, 0, 80, 1);

#grid-svg
  position: absolute
  left 0
  width 100%
  height 100%
  z-index -1
  // opacity 0
  transition 200ms
  background-image: url(/images/GRID.svg)
  background-size cover
  background-position center center
  svg
    *
      transition stroke 400ms
      stroke-opacity 0.7
body
  &#credits, &#fullscreen-launch
    #grid-svg
      display none
// body.grid-active
//   #grid-svg
//     &.active
//       opacity 1
//       svg *
//         stroke #ffffff


body.video-player-active
  #grid-svg
    svg
    *
      transition stroke 400ms
      stroke-opacity 0.3
