gridSide = 10px

header
  transition all 600ms
  position relative
  top -30px
  +above(2)
    top -30px
  +below(1)
    top -40px
  &.active
    top 0

body#credits
  header
    display none

body.video-player-active
  header
    opacity 0

h = 25px
header.header
  position: relative
  width 100%
  z-index: 2
  background-color rgba(#000, 1)
  transition all 300ms
  nav
    position relative
    *
      display inline
      box-sizing: border-box
    > *
      padding 4px 10px
      position relative
      height h
      vertical-align: middle
    h1#site-title
    h2#page-title
      line-height: 13px
    h1#site-title
      margin 0 10px 0 0
    h2#page-title
      float left
      text-align: center
      font-style italic
      +above(2)
        line-height: 22px
    ul
      position: relative
      height h
      &#main-menu
        float left
        li
          position relative
          top -5px
      &#sub-menu
        position relative
        top -4.5px
        float right
        text-align: right
      li
        vertical-align: middle
        padding 0 4px
        &.active-link
          > a
            border-bottom 2px solid white

+above(3)
  header.header
    nav.nav
      > *
        height h + 5px
