header
  transition all 600ms
  position relative

body#credits
  header
    display none

body.video-player-active
  header
    opacity 0

// h = 20px
header.header, footer
  position: relative
  width 100%
  z-index: 999
  background-color rgba(#000, 1)
  transition all 300ms
  nav
    position relative
    *
      display inline
      box-sizing: border-box
      font-size 15px
      +above(2)
        font-size 18px

    > *
      display inline-block
      position relative
      vertical-align: middle
      height 22px
      margin-top 4px
      +above(2)
        margin-top 2px
      > *
        position relative
        // top 2px
    #main-menu
      padding-left 10px
    #sub-menu
      padding-right 5px

    h1#site-title
      position: relative
      font-style italic
      vertical-align: top
      padding-right: 5px
      top 1px
    h2#page-title
      background black
      position fixed
      width 100%
      left 0
      bottom -1px
      padding-top 3px
      float left
      text-align: center
      font-style italic
      +above(4)
        bottom unset
        top -1px
        position relative
        background-color: transparent

    ul
      position: relative
      &#main-menu
        float left
        li
          position relative
      &#sub-menu
        position relative
        float right
        text-align: right
      +above(3)
        padding 0 10px 0 15px
      li
        vertical-align: middle
        padding 0 4px
        &.active-link
          > a
            text-decoration: underline

+above(4)
  header nav
    > *
      width 35% !important
    h2
      width 30% !important