
iW = 375px
iH = 305px
margin = 40px
#master-video-player
  position fixed
  width: iW + (margin)
  height: iH
  top: 50%;
  transform:translateY(-50%);
  background-color rgba(0, 0, 0, 0.9)
  opacity 0
  transition opacity 400ms
  z-index: -2
  @media screen and (min-width: 600px)
    margin auto auto
    position: relative
    width: 100%
    height: 375px
  @media screen and (min-width: 800px)
    width: 640px
    height: 520px
  &.active
    z-index: 1
    opacity 1

#master-video-player iframe
  width iW - (margin / 2)
  height iH
  position: absolute
  top 0
  left 10px
  @media screen and (min-width: 600px)
    position: relative
    width: 600px
    height: 350px
    top 10px
    left 0
    margin 0 auto
  @media screen and (min-width: 800px)
    width: 640px
    height: 500px

  // border 5px solid black
  // background black

.video-player
  top 0
  left 0
  position: absolute
  // padding 0 (margin / 4)

  z-index: 0
  opacity 0
  &.active
    opacity 1
    z-index 1

button-width = 30px
.video-controls
  position: absolute
  top 10px
  right 50px
  z-index: 1
  opacity 0
  transition all 200ms
  @media screen and (min-width: 800px)
    right 10px

  .close
    margin 5px
    z-index: 3;
    position: absolute;
    right: 0;
    background-image: url('/images/icon-close.svg');
    background-size: contain;
    width: button-width;
    height: button-width;
    cursor: pointer;
    display block
.hover
  .video-controls
    opacity 1

