#scene-elements
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  transition all 400ms
  z-index: 1
  // +below(1)
  //   transform rotate(90deg)

  .scene-element
    box-sizing: border-box
    transform-origin top left
    position fixed
    top 0
    left 0
    background-repeat no-repeat
    background-size cover
    background-position: center center
    cursor pointer
    opacity 0

    &.se-visible
      opacity 1
    &.image
      border 1px solid black
    .overlay-gif
      width 100%
      height 100%
      display block
      position: relative
      z-index 1
      opacity 0
      transition opacity 200ms
    &.text.scene_element--name
      text-transform: uppercase
    &:hover
      .overlay-gif
        opacity 1
    &.fadeOut
      opacity 0

// .scene-element
//   .text
//     transition all 500ms ease-out
//     margin 0
//     &.bounce
//       margin-top -50px

/** Body active & dev classes
*/
body.video-player-active
  #scene-elements
    opacity 0
    z-index -1

#placement-dev-wrapper
  position: relative
  z-index: -1
  opacity 0
  .placement-dev-wrapper
    position: fixed

body.placement-dev-wrapper-active.grid-active
  #placement-dev-wrapper
    opacity 0.5

.target-zone-label
  display none
body.dev
  .target-zone-label
    display none
    font 14px Arial
    font-weight: bold
    color red
  &.grid-active.placement-dev-wrapper-active
    .target-zone-label
      display block

// .scene-element__zoom-in
//   top 35% !important
//   left 50% !important
//   transform scale(0.01) translate(-50%, -35%) !important