
<!-- Global lib js -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<!-- <script src="/lib/jquery.ui/jquery-ui.min.js"></script> -->
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/lib/svg/svg.min.js"></script>
<!-- <script src="/lib/jquery.bounce/jquery.bounce.js"></script> -->
<script src="/lib/velocity.js/velocity.min.js"></script>
<!-- <script src="/lib/aapl/ajax-page-loader.js"></script> -->


<script type="text/javascript">

    // Sort by target zone
    var targetZones = [];
    var temp = 0;
    for (i = 0; i < d.e.items - 1; i++) {
      // for (j = i + 1; j < d.e.items.length; j++) {
      //   if (d.e.items[i].targetZone > d.e.items[j].targetZone) {
      //     temp = d.e.items[j];
      //     d.e.items[j] = d.e.items[i];
      //     d.e.items[i] = temp;
      //   }
      // }
    }

  </script>

<!-- Global custom js -->
<script src="/js/plugins.js"></script>
<script src="/js/grid.js"></script>
<script src="/js/thumbnails.js"></script>
<script src="/js/players.js"></script>
<script src="/js/helper.js"></script>
